.footer__info,
.footer__copyright {
  padding: 1.5rem 0;
}

.footer__separator {
  width: 100%;
  height: 1px;
  background-color: var(--grey-light-2);
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 1.5rem;

  .footer__title {
    font-size: 3rem;
    font-family: OutfitSemibold;
  }

  .footer__text {
    font-size: 1.125rem;
  }

  .footer__input {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    input {
      height: 37px;
      width: 19.25rem;
      border-bottom: 1px solid var(--primary);
      font-size: 1.125rem;
    }
  }
}

.footer__linklist {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  gap: 1rem;

  a,
  a:visited {
    color: var(--black);
  }
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a,
  a:visited {
    color: var(--grey-dark);
  }

  .footer__email,
  .footer__email:visited {
    text-decoration: underline;
  }
}

.sponsor__list {
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.footer__copyright {
  text-align: center;
}
