.hero__container {
  background-color: var(--grey-light);
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.125rem;
  padding-top: 1.5rem;
  padding-bottom: 3.75rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}

.hero__title {
  font-family: OutfitBlack;
  font-size: 3rem;
  color: var(--primary);
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.hero__subtitle {
  font-family: OutfitMedium;
  font-size: 1.5rem;
  color: var(--primary);
}

.hero__description {
  font-size: 0.875rem;
  max-width: 33rem;
}

.hero__img {
  width: 40.5rem;
  height: 40.5rem;
  object-fit: cover;
}
