.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  gap: 4.5rem;

  .nav__list {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav__item {
      position: relative;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        margin-right: -10px;
        height: 100%;
        width: 1px;
        background-color: var(--black);
      }
    }
  }
}

.nav__link,
.nav__link:visited {
  color: var(--black);
  font-size: 1.125rem;
  background-color: transparent;
}

.search {
  border: 2px solid var(--primary);
  font-size: 1.125rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;

  width: 26.5rem;

  .search__input {
    padding-left: 1rem;

    &::placeholder {
      font-size: 1.125rem;
    }
  }

  .search__button {
    width: 3rem;
    height: 100%;
    background-color: var(--primary);
  }
}
