@import "variables.css";

.label-body-regular {
  font-size: 0.875rem;
  font-family: OutfitRegular;
}

.label-cta {
  font-size: 1rem;
  font-family: OutfitRegular;
}

.text-green {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}
